body {
    font-family: Arial, sans-serif;
}

.product {
    display: flex;
    flex-wrap: wrap;
}

.product__photo,
.product__info {
    flex: 1;
    padding: 20px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-main img {
    width: 100%;
    max-width: 300px;
}

.photo-album ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.photo-album ul li {
    margin: 10px;
}

.photo-album ul li img {
    width: 50px;
    cursor: pointer;
}

.title {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 24px;
    color: green;
}

.variant ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.variant ul li {
    margin: 10px;
}

.variant ul li img {
    width: 50px;
    cursor: pointer;
}

.description ul {
    list-style: circle;
    padding-left: 20px;
}

button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
