/* your code here */

.product{
	display:flex;
}

li{
	list-style:none;
}
.li{
	list-style:circle;
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border:none;
	border-radius:5px
}
.photo-album{
	/* display:flex; */
	flex-direction:row;
}